.full {
  padding: 0rem 20rem;
  background-color: var(--backgroundColor);
  height: 100vh;
}

.full_title {
  padding: 10rem 0rem 5rem 0rem;
  font-size: 4rem;
  color: var(--colorBlack);
  font-family: var(--font-family-Montreal);
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.full_title_special {
  font-weight: 700;
  padding: 0rem 1.25rem
}

/* demo 2 and 3 */

.demo_title {
  font-size: 4rem;
  font-family: var(--font-family-Montreal);
  font-weight: 700;
  margin-top: 5rem;
}

.demo_showed_full {
  margin: 5rem 0rem;
}

.demo_showed_full_text {
  font-size: 2rem;
  font-family: var(--font-family-Inter);
  font-weight: 400;
  color: var(--colorPurple);
  padding: 1rem 0rem;
}

.demo_showed_full_text_special {
  color: var(--colorBlack);
  font-weight: 700;
}

.demo_explenation {
  font-size: 2rem;
  padding-top: 3rem;
  line-height: 3rem;
  width: 65%;
  color: var(--colorGrey);
  font-family: var(--font-family-Inter);
}

.demo_showed_full_title {
  font-size: 3rem;
  font-family: var(--font-family-Inter);
  padding-bottom: 1.5rem;
  font-weight: 700;
}

/* demo 2 and 3 --- list*/
.ideas_full_title {
  font-size: 2.5rem;
  font-family: var(--font-family-Inter);
  padding-bottom: 1.5rem;
  font-weight: 700;
  color: var(--colorPurple)
}

.ideas {
  margin-left: 5rem;
}

.idea {
  font-size: 2rem;
  font-family: var(--font-family-Inter);
  padding-bottom: 2rem;
  font-weight: 400;
  color: var(--colorBlack);
  list-style-type: circle;
  line-height: 3rem;
}

@media screen and (max-width: 1280px) {
  .full_title {
    padding: 0rem;
  }

  .full {
    padding: 0rem 10rem;
  }

  .demo_title {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 1024px) {
  .full {
    padding: 0rem 7.5rem;
  }
}

@media screen and (max-width: 768px) {
  .full {
    padding: 0rem 5rem;
  }
}

@media screen and (max-width: 500px) {
  .full {
    padding: 0rem 3rem;
  }

  .full_title {
    font-size: 2rem;
    height: 70vh;
  }

  .full_title_special {
    padding: 0rem 0.75rem;
  }

  .demo_title {
    font-size: 2.25rem;
    margin-top: 0rem;
  }

  .demo_explenation {
    font-size: 1.75rem;
    padding-top: 1.5rem;
    line-height: 2.5rem;
    width: 100%;
  }

  .ideas {
    font-size: 2.25rem;
    margin-top: 0rem;
  }

  .idea {
    font-size: 1.75rem;
    padding: 0rem;
    line-height: 2.5rem;
  }

  .demo_showed_full {
    margin: 3rem 0rem;
  }
}